@import '../../styles/variables.scss';

.until-container {
  width: 100vw;
  height: 100vh;
  background: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.create-own-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.occasion-value {
  color: $secondary-color;
  font-weight: bold !important;
}


.dull-text {
  color: $grey-color;
}
